@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  /* border: 1px solid goldenrod; */
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:root {
  --player1Color: #d1d355;
  --player2Color: #86aa84;
}
body {
  margin: 0;
  padding: 0;
  background: #d0dbe1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
    --grad: red, blue;
  padding: 2.5rem;
  background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
  border-radius: 2rem;
  gap: 1.5rem;
  font-family: system-ui, sans-serif;
  color: #444447;
  box-shadow: 
    inset -2px 2px hsl(0 0 100% / 1),
    -20px 20px 40px hsl(0 0 0 / .25) ;
}
.round {
  margin-top: 10px;
  text-align: center;
  font-size: 2rem;
}

.active-player-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /*justify-content: center; */
  gap: 40px;
  margin: 10px;
}

.active-player-row > * {
  background-color: rgb(208, 207, 207);
  border: 0px solid black;
  border-radius: 0.9rem;
  padding: 15px;
  font-size: 1.5rem;
  margin: 15px;
  
  box-shadow: 
    inset -1px 1px hsl(0, 16%, 94%),
    -20px 20px 40px hsl(0 0 0 / .25) ;
}

.player1 {
  justify-self: end;
}
.player2 {
  justify-self: start;
}

/* active player row always colored*/
.active-player-row .player1.active-player,
.cell.player1.winning-cell {
  background-color: var(--player1Color);
}
.active-player-row .player2.active-player,
.cell.player2.winning-cell {
  background-color: var(--player2Color);
}

/* cells active-player colored only on hover */
.player1.active-player:hover {
  background-color: var(--player1Color);
}
.player2.active-player:hover {
  background-color: var(--player2Color);
}


.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  height: 110px;
  width: 110px;
  margin: 4px;
  background-color: rgb(224, 223, 216);
  border: 0px solid black;
  border-radius: 0.9rem;
  font-size:4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: rgb(68, 51, 51);
  box-shadow: 
    inset -1px 1px hsl(0, 16%, 94%),
    -2px 2px 4px hsl(0 0 0 / .25) ;
}

.not-marked-yet:hover {
  cursor:pointer;
  transition: 0.7s;
  color: white;
}

.new-game {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-game button {
  transition-duration: 0.4s; 
  background-color: #c7c7c7;
  color: black;
  border: 0px solid #04AA6D; /* Green */
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  font-size: 2em;
}
.new-game button:hover {
  background-color: #04AA6D; /* Green */
  color: black;
  font-size: 2.2em;
}
.winner {
  text-align: center;
  height: 200px;
}
.winner .winner-name {
  font-size: 4em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.winner p {
  font-size: 2.5em;
  margin-top: 0px;
  margin-bottom: 5px;
}